.idea
shader
ppgso
cmake-build-debug-mingw
cmake-build-debug
cmake
`cmake-build-debug`
CMakeLists.txt
dependencies
shapes

**/cmake-build-debug
**/CMakeCache.txt
**/cmake_install.cmake
**/install_manifest.txt
**/CMakeFiles/
**/CTestTestfile.cmake
**/Makefile
**/*.cbp
**/CMakeScripts
**/compile_commands.json